.sticky {
    /* background-color: #697597; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#947fee+0,fb75b1+100 */
    background: rgb(148,127,238); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(148,127,238,1) 0%, rgba(251,117,177,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(148,127,238,1) 0%,rgba(251,117,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(148,127,238,1) 0%,rgba(251,117,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#947fee', endColorstr='#fb75b1',GradientType=1 ); /* IE6-9 */
    height: 25px;
    position: sticky;
    top: 0;
}

.wrapper {
    display: -webkit-box;
    display: flex;
    min-height: 25px;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 25px;
    margin: 0 auto;
    max-width: 900px;
    /* color: #324466; */
    color: white;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: .2em;
    line-height: 1;

    
}

.profile {
    width: 37.5%;
}

.price {
    width: 25%;
}

.marketCap {
    width: 25%;
}

.change {
    width: 12.5%;
}

/* Tablet & Mobile */

@media (max-width: 576px) {
    .profile {
        width: 50%;
    }
    
    .price {
        width: 30%;
    }
    
    .marketCap {
        display: none;
    }
    
    .change {
        width: 20%;
    }
}