
.hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* background: rgb(255,255,255); */
    /* background: -moz-linear-gradient(top, rgba(255,255,255,1) 10%, rgba(125,185,232,0) 100%); 
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(125,185,232,0) 100%); 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(125,185,232,0) 100%);  */
}

.heroContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.heroText {
    margin-bottom: 2em;
    font-family: 'Montserrat', sans-serif;

}

.heroText > h2 {
    font-size: 1.9rem;
    font-weight: 900;
    color: #FFF;
    margin: 0;
}
.heroText > h3 {
    font-size: 1.6rem;
    color:#CB79CD;
    margin: 0 30px;
}

.container {
    max-width: 900px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.coin {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);

}

.svg {
    display: block;
    width: 100%;
    position: absolute;
    opacity: 1;
    top: 0;
    z-index: -10;
    height: 90vh;
    min-height: 700px;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .coin {
        width: calc(100% / 1);
        padding: 20px 25px;
    }

    .hero {
        /* height: 90vh; */
        /* min-height: 1100px; */
    }
    .svg {
        
        height: 100%;
        min-height: 1300px;
    }
 }

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .coin {
        width: calc(100% / 1);
        padding: 20px 25%;
    }
    .hero {
        /* height: 90vh; */
        /* min-height: 1100px; */
    }
    .svg {
        
        height: 100%;
        min-height: 1400px;
    }
    
    
 }

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .coin {
        width: calc(100% / 2);
        padding: 20px 0px;
        text-align: center;
    }
 }

@media only screen and (min-width: 992px) and (max-width: 1999px){ 
    
 }