.header {
    text-align: center;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symbol {
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}

.img  {
    padding-left: calc(50% - 15px);
    padding-right: calc(50% - 15px);
    fill: gray;
}

.name {
    color: gray;
    padding-top: 20px;
}

.price {
    padding: 10px;
    font-size: 2rem;
    color: rgba(250,117,177, 1);
    text-shadow: 0px 0px 7px rgba(250,117,177, 1);
}

.sign {
    color: white;
    font-size: 1.2rem;
    text-shadow: none;
}

.green {
    color: green;
}

.red {
    color: red;
}