.header {
    text-align: center;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symbol {
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}

.img  {
    padding-left: calc(50% - 15px);
    padding-right: calc(50% - 15px);
    fill: gray;
}

.name {
    color: gray;
    padding-top: 20px;
}

.price {
    padding: 10px;
    font-size: 2rem;
}

.sign {
    color: gray;
    font-size: 1.5rem;
}