.header {
    text-align: center;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.symbol {
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 300;
}

.img {
    padding-left: calc(50% - 20px);
    padding-right: calc(50% - 20px);
    fill: gray;
}

.name {
    color: gray;
    padding-top: 20px;
}

.price {
    padding: 10px;
    font-size: 2rem;
    color: rgba(250, 117, 177, 1);
    text-shadow: 0px 0px 7px rgba(250, 117, 177, 1);
}

.sign {
    color: white;
    font-size: 1.2rem;
    text-shadow: none;
}

.green {
    color: green;
}

.red {
    color: red;
}



[data-scroll] {
    opacity: 0;
    will-change: transform, scale, opacity;
    -webkit-transform: translateY(6rem) scale(0.93);
    transform: translateY(6rem) scale(0.93);
    transition: all 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-scroll="in"] {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
}

.fall-down.words .char {
    animation: slide-down 2s forwards;
    opacity: 0;
    animation-delay: calc(.5s + (.1s * var(--char-index)));
  }
  @keyframes slide-down {
    from {
      transform: translateY(125%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  


