.footer {
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 2rem;
    font-weight: 700;
}

.footer a {
    /* font-size: 0.7rem;
    color: white; */
    text-decoration: none;
    color: white;
    padding: 15px;
}

.rights {
    padding: 15px;
    color: rgba(255, 255, 255, 0.2)
}